html, body {
    height: 100%;
    width: 100%;
  }
  
  body, main {
    margin: 1rem auto;
    max-width:800px;
    padding:10px;
  }
  
  main{
      display:grid;
      grid-template-columns: repeat(3, auto);
      background-color:grey;
  }
        
  div{
    text-align:center;
    padding:40px;
    border: black solid 1px;
    background-color:white;
    font-size:50px;
  }